
body {
  font-family: 'PT Sans Narrow', sans-serif;
  padding: 0;
  margin: 0;
  background: url("src/living-room-2569325_1920.jpg");
}



/*Menu*/

#Logo{
  width: 80px;
  height: 40px;
}
.topnav {
  overflow: hidden;
  background-color: rgba(156, 154, 154, 0.144);
}

.topnav a {
  float: left;
  color: #615c5c;
  text-align: center;
 
  text-decoration: none;
  font-size: 17px;
 
  width: 350px;
}

.topnav a:hover {
  background-color: #ddd;
  color: black;
}

.topnav a.active {
  /* Permalink - use to edit and share this gradient: http://colorzilla.com/gradient-editor/#21aec6+0,e5e5e5+100 */
background: rgb(33,174,198); /* Old browsers */
background: -moz-linear-gradient(left, rgba(33,174,198,1) 0%, rgba(229,229,229,0.23) 100%); /* FF3.6-15 */
background: -webkit-linear-gradient(left, rgba(33,174,198,1) 0%,rgba(229,229,229,0.23) 100%); /* Chrome10-25,Safari5.1-6 */
background: linear-gradient(to right, rgba(33,174,198,1) 0%,rgba(229,229,229,0.23) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#21aec6', endColorstr='#e5e5e5',GradientType=1 ); /* IE6-9 */
  color: white;
  padding: 14px 16px;
  height: 40px;
}
.jos{
  padding: 30px 14px;
  height: 7px;
}
.topnav-right {
  float: right;
}